<section class="bio" id="bio">
  <div class="background-image">
    <div class="left-bg"></div>
    <div class="right-bg"></div>
  </div>
  <div class="content-container">
    <div class="bio-content">
      <div class="text-container">
        <h3 class="bio-subtitle">Sobre Adricted</h3>
        <p>
          Adricted viene dejando su huella en la escena electrónica de Argentina desde diciembre de 2019, iniciando su camino en Necochea con una misión clara: transmitir energía positiva al universo a través de la música. Amante del Techno y apasionado por el Tech House, logró fusionar ambos estilos en sets potentes, con identidad propia y una vibra que conecta con el público desde el primer beat.
        </p>

        <p>
          Es fundador y DJ residente de Positive, la productora con la que ha llevado adelante eventos de alto impacto junto a artistas como Nicolas Taboada, Andrés Koller, Cadelago, Feddox y Lez, entre otros.
        </p>

        <p>
          Su sonido lo llevó a presentarse en ciudades como Tandil, Olavarría, Mar del Plata y Buenos Aires, haciendo vibrar las pistas con cada presentación.
        </p>
        <div class="genre-tags">
          <span class="genre-tag">Tech House</span>
          <span class="genre-tag">Bass House</span>
          <span class="genre-tag">Dark Tech</span>
        </div>
      </div>
    </div>
  </div>
</section>
