<section class="hero">
  <div class="container">
    <img src="assets/images/text-logo.png" alt="AdriCted Logo" class="logo">
    <div class="content-container">
      <div class="text-container">
        <p>DJ desde 2019, mi pasión se encuentra en la fusión de géneros como el Tech House, Bass House e Indie House. A
          través de ellos, busco crear un viaje sonoro único en cada set.</p>
        <p>
          He tocado en ciudades como Necochea, Tandil, Olavarría, Mar del Plata y Buenos Aires, y busco seguir
          expandiendo mi música a nuevos espacios, con el objetivo de grabar video sets que reflejen la energía de cada
          lugar.
        </p>
        <p>
          Fundador y DJ residente de Positive, un espacio donde el sonido y la energía se combinan para generar
          experiencias inolvidables.
        </p>
      </div>
    </div>
    <a href="https://youtube.com" target="_blank" class="youtube-button">
      <span class="animated-text">
        Escuchar ahora
      </span>
    </a>
  </div>
  <div class="scroll-indicator">
    ↓
  </div>
</section>
